# Java / Spring Boot
*.class
target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.log
hs_err_pid*
.gradle/
out/
.settings/
*.iml
.idea/
*.ipr
*.iws
.DS_Store

# Node / React
node_modules/
build/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/

# Env files
.env
.env.*
.tools/
.local-mariadb/
.m2/

# IDE / editor
.vscode/
*.swp
*.swo
*.tmp

# OS generated
Thumbs.db
Desktop.ini

# Git
